#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ hostname }}
    password: {{ password | password_hash('sha512') }}
    username: {{ username }}
  locale: {{ locale }}
  refresh-installer:
    update: yes
  keyboard:
    layout: {{ kb_layout }}
  ssh:
    install-server: true
    allow-pw: false
    authorized-keys: {{ ssh_public_key }}


